@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');


.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Adjust as needed */
  }
  
  .loading-text {
    font-size: 3rem;
    color: #fff; /* White color */
    display: flex;
    font-family: 'Gruppo', cursive; /* Use Gruppo font */
    letter-spacing: 0.1em;
  }
  
  .loading-text span {
    display: inline-block;
    margin-right: 5px; /* Add space between letters */
    animation: bubbleEffect 0.6s forwards; /* Adjust duration as needed */
  }
  
  @keyframes bubbleEffect {
    0% {
      transform: scale(0.5);
      opacity: 0.5;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  